HELP.md
!.mvn/wrapper/maven-wrapper.jar
# !**/src/main/**/target/
# !**/src/test/**/target/

# Ignore all in target folder
target/

# BUT allow final JAR files inside target
!target/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
# src/main/resources/zestora-dc0ed-firebase-adminsdk-fbsvc-8cd225cfc3.json

### VS Code ###
.vscode/
